## Preprocessing

In [115]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [116]:
print(application_df.nunique())

EIN                       34299
NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [117]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
#  YOUR CODE GOES HERE

application_df = application_df.drop(["EIN"],axis=1)
print(application_df)

                                                    NAME APPLICATION_TYPE
0                           BLUE KNIGHTS MOTORCYCLE CLUB              T10  \
1                 AMERICAN CHESAPEAKE CLUB CHARITABLE TR               T3
2                     ST CLOUD PROFESSIONAL FIREFIGHTERS               T5
3                         SOUTHSIDE ATHLETIC ASSOCIATION               T3
4               GENETIC RESEARCH INSTITUTE OF THE DESERT               T3
...                                                  ...              ...
34294              THE LIONS CLUB OF HONOLULU KAMEHAMEHA               T4
34295           INTERNATIONAL ASSOCIATION OF LIONS CLUBS               T4
34296                                PTA HAWAII CONGRESS               T3
34297  AMERICAN FEDERATION OF GOVERNMENT EMPLOYEES LO...               T5
34298                           WATERHOUSE CHARITABLE TR               T3

            AFFILIATION CLASSIFICATION      USE_CASE  ORGANIZATION  STATUS
0           Independent          C1000    ProductDev   Association       1  \
1           Independent          C2000  Preservation  Co-operative       1
2      CompanySponsored          C3000    ProductDev   Association       1
3      CompanySponsored          C2000  Preservation         Trust       1
4           Independent          C1000     Heathcare         Trust       1
...                 ...            ...           ...           ...     ...
34294       Independent          C1000    ProductDev   Association       1
34295  CompanySponsored          C3000    ProductDev   Association       1
34296  CompanySponsored          C2000  Preservation   Association       1
34297       Independent          C3000    ProductDev   Association       1
34298       Independent          C1000  Preservation  Co-operative       1

          INCOME_AMT SPECIAL_CONSIDERATIONS   ASK_AMT  IS_SUCCESSFUL
0                  0                      N      5000              1
1             1-9999                      N    108590              1
2                  0                      N      5000              0
3        10000-24999                      N      6692              1
4      100000-499999                      N    142590              1
...              ...                    ...       ...            ...
34294              0                      N      5000              0
34295              0                      N      5000              0
34296              0                      N      5000              0
34297              0                      N      5000              1
34298          1M-5M                      N  36500179              0

[34299 rows x 11 columns]

In [118]:
# Determine the number of unique values in each column.
#  YOUR CODE GOES HERE

print(application_df.nunique())

NAME                      19568
APPLICATION_TYPE             17
AFFILIATION                   6
CLASSIFICATION               71
USE_CASE                      5
ORGANIZATION                  4
STATUS                        2
INCOME_AMT                    9
SPECIAL_CONSIDERATIONS        2
ASK_AMT                    8747
IS_SUCCESSFUL                 2
dtype: int64

In [119]:
# Look at APPLICATION_TYPE value counts for binning
#  YOUR CODE GOES HERE
application_type_value_counts = application_df['APPLICATION_TYPE'].value_counts()
print(application_type_value_counts)

APPLICATION_TYPE
T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: count, dtype: int64

In [120]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`
#  YOUR CODE GOES HERE

cutoff = 160

filter = application_type_value_counts[application_type_value_counts < cutoff]
application_types_to_replace = filter.index.to_list()
#print(application_types_to_replace)

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

APPLICATION_TYPE
T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: count, dtype: int64

In [121]:
# Look at CLASSIFICATION value counts for binning
#  YOUR CODE GOES HERE
classification_value_counts = application_df['CLASSIFICATION'].value_counts()
print(classification_value_counts)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: count, Length: 71, dtype: int64

In [122]:
# You may find it helpful to look at CLASSIFICATION value counts >1
#  YOUR CODE GOES HERE

classification_value_counts_greather_than_1 = classification_value_counts[classification_value_counts > 1]
print(classification_value_counts_greather_than_1)

CLASSIFICATION
C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: count, dtype: int64

In [123]:
cutoff = 1800

filter = classification_value_counts_greather_than_1[classification_value_counts_greather_than_1 < cutoff]

classifications_to_replace = filter.index.to_list()

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

In [124]:
# Convert categorical data to numeric with `pd.get_dummies`
#  YOUR CODE GOES HERE

encoding_data = pd.get_dummies(application_df)

In [125]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE

X = encoding_data.drop('IS_SUCCESSFUL', axis=1)
y = encoding_data['IS_SUCCESSFUL']

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE

X_train, X_test, y_train, y_test = train_test_split(X, y,test_size=0.2, random_state=42)

In [126]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [127]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
#  YOUR CODE GOES HERE


# Define the model architecture
nn = tf.keras.models.Sequential([
    tf.keras.layers.Input(shape=(X_train_scaled.shape[1],)),
    tf.keras.layers.Dense(160, activation='sigmoid'),
    tf.keras.layers.Dense(160, activation='sigmoid'),
    tf.keras.layers.Dense(1, activation='sigmoid')
])


# Check the structure of the model
nn.summary()

Model: "sequential_15"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense_48 (Dense)            (None, 160)               3142080

 dense_49 (Dense)            (None, 160)               25760

 dense_50 (Dense)            (None, 1)                 161

=================================================================
Total params: 3168001 (12.08 MB)
Trainable params: 3168001 (12.08 MB)
Non-trainable params: 0 (0.00 Byte)
_________________________________________________________________

In [128]:
# Compile the model
#  YOUR CODE GOES HERE

nn.compile(
    optimizer=tf.keras.optimizers.Adam(learning_rate=0.01),
    loss='binary_crossentropy',
    metrics=['accuracy']
)

In [129]:
# Train the model
#  YOUR CODE GOES HERE

history = nn.fit(X_train_scaled, y_train,epochs=5,validation_data=(X_test_scaled, y_test))

Epoch 1/5
858/858 [==============================] - 65s 70ms/step - loss: 0.4709 - accuracy: 0.7808 - val_loss: 0.4766 - val_accuracy: 0.7741
Epoch 2/5
858/858 [==============================] - 51s 60ms/step - loss: 0.1223 - accuracy: 0.9577 - val_loss: 0.5018 - val_accuracy: 0.7905
Epoch 3/5
858/858 [==============================] - 46s 53ms/step - loss: 0.0991 - accuracy: 0.9614 - val_loss: 0.4790 - val_accuracy: 0.7790
Epoch 4/5
858/858 [==============================] - 48s 55ms/step - loss: 0.0941 - accuracy: 0.9621 - val_loss: 0.4908 - val_accuracy: 0.7545
Epoch 5/5
858/858 [==============================] - 52s 61ms/step - loss: 0.0913 - accuracy: 0.9623 - val_loss: 0.5074 - val_accuracy: 0.7708

In [130]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

215/215 - 2s - loss: 0.5074 - accuracy: 0.7708 - 2s/epoch - 11ms/step
Loss: 0.5074429512023926, Accuracy: 0.7708454728126526

In [131]:
# Export our model to HDF5 file
#  YOUR CODE GOES HERE

nn.save("AlphabetSoupCharity_Optimization.h5")

c:\Users\Guest Mode\AppData\Local\Programs\Python\Python39\lib\site-packages\keras\src\engine\training.py:3000: UserWarning: You are saving your model as an HDF5 file via `model.save()`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')`.
  saving_api.save_model(